# SQL (Python)

Resource: https://docs.python.org (Search sqlite3)

# sqlite3

Resource: https://docs.python.org/3/library/sqlite3.html

In [1]:
import sqlite3

In [2]:
# Create a database and connnection (con)
con = sqlite3.connect("tutorial.db")

In [3]:
# Database cursor (cur)
cur = con.cursor()

In [4]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [5]:
# Result
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [7]:
# None
# Result
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [9]:
# Add two rows
cur.execute("""
    INSERT INTO movie VALUES
        ('MOVIE 1', 2023, 9),
        ('MOVIE 2', 2023, 9.5)
""")

In [10]:
# Commit the transaction
con.commit()

In [11]:
# Result
res = cur.execute("SELECT score FROM movie")
res.fetchone()

(9,)

# Add two rows
cur.execute("""
    INSERT INTO movie VALUES
        ('MOVIE 3', 2023, 9),
        ('MOVIE 4', 2023, 9.5)
""")

# Result res.fetchall()
res = cur.execute("SELECT * FROM movie")
res.fetchall()

In [18]:
# Insert more rows
data = [
    ("Movie 4", 2022, 8),
    ("Movie 5", 2022, 8.5),
    ("Movie 6", 2022, 8.7)
]

In [20]:
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()

In [24]:
# Veriy new rows
for row in cur.execute("""
                        SELECT year, title
                        FROM movie
                        ORDER By year
                        """):
    print(row)

(2022, 'Movie 4')
(2022, 'Movie 5')
(2022, 'Movie 6')
(2022, 'Movie 4')
(2022, 'Movie 5')
(2022, 'Movie 6')
(2023, 'MOVIE 1')
(2023, 'MOVIE 2')
(2023, 'MOVIE 3')
(2023, 'MOVIE 4')

In [25]:
# CLose the connection
con.close()

In [26]:
# Opening a new one
new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()

In [27]:
res = new_cur.execute("""
                        SELECT title, year
                        FROM movie
                        ORDER By score DESC""")

In [29]:
title, year = res.fetchone()

In [31]:
print(f'The highest score is {title!r}, released in {year}')

The highest score is 'MOVIE 2', released in 2023